.about-grid {
    grid-row: 3;
    grid-column: 2;
    grid-column-end: span 2;
    margin-left: 25px !important;
    pointer-events: none;
}

/* .about-grid > .App > #root > div {
    height: 100%;
  } */
