.welcome, .container, .lead {
    display: block;
    text-align: center;
    color: rgb(64,173,156);
    margin-top: 0.3rem
}

.welcome {
    margin-bottom: 0rem;
    padding-bottom: 0rem;
    font-size: 2rem;
    margin-left: 0rem;
    color: rgb(64,173,156);
}

#spiral {
  display: inline-block;
  border: 1rem solid #272B30;
  border-radius: 80%;
  width: 45%;
  height: auto;
}

#spiral img{
border: 0px;
  position: absolute;
  top: 50%; left: 50%;
  width: 100%;
  transform: translate(-60%, -60%);
}


.container {
    padding: 0px;
}

.jumbotron {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
    padding: 1rem;
    border-radius: 0.5rem;
}