
/* .images {
  display: flex;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    height: 250px;
    width: 18rem;
    margin-top: 1rem;
    transition: transform .2s;
}
.images:hover {
  transform: scale(1.1); 
} */
