
.logo-grid {
    grid-row: 1;
    grid-row-end: span 1;
    grid-column: 1;
    grid-column-end: span 1;
    height: 1rem;
    margin-left: 1rem;
    margin-top: 1rem;
}
.nav-btn{
    color: #818181;
}
.navbtn-grid{
    grid-row: 2;
    grid-row-end: span 1;
    margin-left: 25px;
}
.nav-grid {
    grid-row: 3;
    grid-row-end: span 8;
    grid-column: 1;
    grid-column-end: span 1;
    background-color: rgba(0,0,0,0.1);
    margin-left: 25px;
    pointer-events: none;
}

.nav-grid .router-link {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: flex;
    pointer-events: none;
}

.nav-grid .router-link:hover {
    color: #f1f1f1;
}
